{% extends "core/base.html" %}
{% load static %}
{% block title %}contact{% endblock title %}
{% block maincontent %}
<section class="bg-gradient-to-b from-orange-100 via-orange-50 to-white">
<div class="container mx-auto px-6 py-12 text-center">
  <div class="shadow-md p-8">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">our Location</h2>
    <p class="text-gray-600">
      <strong>Address:</strong><br>
      Khana Khazana Restaurant <br>
      city Center,Bokaro <br>
      Jharkhand 45678 <br>
      India
    </p>

    <h2 class="text-2xl font-bold text-gray-800 mt-8 mb-4">
    contact Information</h2>
    <p class="text-gray-600">
      <strong>Phone:</strong> +91 12345 67890 <br>
      <strong>Email:</strong> info@KhanaKhazana.khaoam
    </p>

    <h2 class="text-2xl font-bold text-gray-800 mt-8 mb-4">Opening Hours</h2>
    <p class="text-gray-600">
      <strong>Monday - friday:</strong>10:0 Am -10:00 pm <br>
      <strong>Saturday - sunday:</strong> 11.00Am -11:00 Am
    </p>
  </div>
</div>
</section>
{% endblock maincontent %}